*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.box{
    background-color: rgb(142, 138, 138);
    margin: 10rem;
    margin-bottom: 0;
    border: double black 5px;
    width: 20rem;
    height: 30rem;
    white-space: nowrap;
    border-radius: 2rem;
    
    
}

.txt{

    margin-left: 1rem;
    margin-top: 4rem;
    margin-bottom: 2rem;
    height: 4rem;
    width: 17rem;
    border: solid black 2px;
    border-radius: 1rem;
    font-size: 1rem;  
}

button{
    height: 3rem;
    width: 4rem;  
    font-size: 1rem;
    border-radius: 2rem;
}

.firstlayer{
    margin-left: 1.3rem;
    margin-bottom: 1rem;
}


.secondlayer{
    margin-left: 1.3rem;
    margin-bottom: 1rem;
}


.thirdlayer{
    margin-left: 1.3rem;
    margin-bottom: 1rem;
}


.forthlayer{
    margin-left: 1.3rem;
    margin-bottom: 1rem;
}

.bt2{
    background-color: rgb(242, 158, 47);
}


